li {
  list-style-type: none;
}

.languageSwitcher {
  .dropdown-menu{
    background: transparent;
  }
  .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover{
    background-color: rgba(255,255,255, 0.3);
  }
  a{
    color: #fff !important;
  }
}

.error-summary, .help-block-error {
  color: #e63331;
}

.alert-danger.in, .alert-success.in, .alert-warning.in {
  opacity: 1;
}
