li {
  list-style-type: none;
}
.languageSwitcher .dropdown-menu {
  background: transparent;
}
.languageSwitcher .dropdown-item.active,
.languageSwitcher .dropdown-item:active,
.languageSwitcher .dropdown-item:focus,
.languageSwitcher .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.languageSwitcher a {
  color: #fff !important;
}
.error-summary,
.help-block-error {
  color: #e63331;
}
.alert-danger.in,
.alert-success.in,
.alert-warning.in {
  opacity: 1;
}
.Project__file:hover {
  color: white;
}
#page_site_index {
  background-color: #64253d;
}
.hidden {
  display: none;
}
.pagination .page-item.active a {
  background: #261018;
  color: #fff;
}
.Pagination .page-last .page-link {
  border-bottom-right-radius: 20px !important;
}
.Pagination .page-first .page-link {
  border-bottom-left-radius: 20px !important;
}
#page_article_view .Section strong {
  color: #261018;
}
.nav-tabs li {
  background: #64253d;
  padding: 30px;
}
.nav-tabs li.active {
  font-weight: bold;
}
.nav-tabs li a {
  color: white;
}
#myTokens table,
#clients table {
  font-size: 11px;
}
#myTokens table .select2-selection__rendered,
#clients table .select2-selection__rendered {
  font-size: 11px;
  line-height: 21px;
}
#myTokens .desc,
#clients .desc {
  padding: 5px 0;
}
#myTokens .kv-table-header,
#clients .kv-table-header {
  background: #64253d;
  color: white;
}
#myTokens .kv-table-header a,
#clients .kv-table-header a {
  color: white;
}
#page_site_account .Projects--white-top {
  background-color: white;
}
#page_site_account .Projects--white-top::before {
  display: none;
}
#page_site_account select.form-control {
  border: 1px solid #e1e1e1;
}
.krajee-datepicker {
  font-size: 14px;
  line-height: 60px !important;
  color: #838383;
  border-radius: 3px;
  padding: 0 15px !important;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  height: auto !important;
}
.amountBtn {
  border: none;
  height: 62px;
  margin-top: 20px;
}
