.Projects {
  background: $PRIMARY !important;
  position: relative;

  &--white-top {
    padding-top: 0;

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      pointer-events: none;
      background-color: #fff;
      height: 370px;
      left: 0;
      right: 0;
      top: 0;
    }

    .Projects__header {
      color: $SECONDARY;
    }
  }

  .Project__return {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #261018;
    color: $SECONDARY;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    z-index: 1;
    padding: 15px;
    display: flex;
    column-gap: 10px;
    align-items: center;

    img {
      width: 20px;
    }
  }

  &--disabledBg {
    &::before {
      display: none;
    }
  }

  &--lightBg {
    background-color: #fff !important;

    &::before {
      background-color: #f2f7f9;
      height: 425px;
    }
  }

  &--list {
    .Projects__card {
      background-color: #fff;

      &:hover {
        background-color: #fff;

        .Projects__card__heading {
          text-decoration: underline;
        }

        img {
          opacity: 0.6;
        }
      }
    }
    &:after {
      display: none;
    }

    .btn--medium {
      margin-top: 35px;
    }
  }

  &--with-pagination {
    padding: 45px 0;
  }

  &__header {
    margin-top: 7px;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Montserrat';

    &__wrapper {
      position: relative;
      z-index: 1;
      margin-bottom: 50px;

      > .Select,
      > .btn {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 0;

        @media (max-width: $MD) {
          position: relative;
          margin: 0 auto;
          left: 50%;
          transform: translate(-50%, 0);
          margin-top: 20px;
        }
      }
    }
  }

  &__filter {
    .btn {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__sortable {
    --gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--gap);
    grid-row-gap: 45px;
    margin-top: 25px;

    @media (max-width: $LG) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $MD) {
      display: block;
    }
  }

  &__card {
    background: $COLOR-3;
    cursor: pointer;
    max-width: 455px;
    margin: 0 auto !important;
    position: relative;

    &--shadow {
      transition: all 0.3s ease;

      &:hover {
        filter: drop-shadow(0px 30px 30px rgba(38, 16, 24, 0.5));
      }
    }

    @media (max-width: $MD) {
      margin-bottom: 35px !important;
    }

    &__footer {
      display: flex;
      padding: 20px;
      align-items: center;

      > div {
        margin-left: auto;
        font-size: 15px;
        line-height: 20px;
        color: #838383;
        font-weight: 500;
      }
    }

    &__date {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 10px;
      background-color: #fff;
      font-size: 13px;
      z-index: 2;

      &__ico {
        width: 20px !important;
        height: 20px !important;
        margin-right: 5px;
        vertical-align: bottom;
      }
    }

    &__image-wrapper {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #00000066;
        opacity: 0;
        transition: all 0.6s ease;
        pointer-events: none;
      }

      .btn {
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
      }
    }

    &:hover {
      .Projects__card__heading {
        text-decoration: underline;
      }

      .Projects__card__image-wrapper {
        &::after {
          opacity: 1;
        }

        > img {
          transform: scale(1.1);
        }

        .btn {
          opacity: 1;
          visibility: visible;
        }
      }

      .Projects__card__text {
        visibility: visible;
        opacity: 1;
      }
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &__header {
      padding: 20px;
      padding-bottom: 15px;
    }

    &__heading {
      color: #261018;
      font-size: 26px;
      line-height: 34px;
      font-weight: 600;
    }

    &__location {
      font-size: 1.1em;
      color: $PRIMARY;
      margin: 0;
    }

    &__image-wrapper {
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
        width: 100%;
        transition: all 0.3s ease;
        height: 285px;
        object-fit: cover;
      }
    }

    &__country-flag {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    &__body {
      padding: 0 20px;
      padding-bottom: 20px;

      .btn {
        margin-bottom: -35px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        display: block;
      }
    }

    &__text {
      font-size: 14px !important;
      color: $COLOR-6 !important;
      margin-bottom: 20px;
      font-weight: 400;
      line-height: 26px !important;
    }
  }

  @include owlArrows(
    $background: $PRIMARY,
    $color: $COLOR-1,
    $borderColor: $PRIMARY_DARKEN
  );

  @media (max-width: $SM) {
    @include owlArrows(
      $background: $PRIMARY,
      $color: $COLOR-1,
      $borderColor: $PRIMARY_DARKEN,
      $offset: 0
    );
  }
}
